
body,html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    /* background: -webkit-linear-gradient(to right, #dd1818, #333333);  Chrome 10-25, Safari 5.1-6 */
    background-color: rgb(167, 158, 173)

   
}

div.board{
    display: grid;
    height: 25vh;
    width: 17%;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

   

.one{
    border-bottom: 2px solid wheat;
    border-right: 2px solid wheat;
}

.two{
    border-bottom: 2px solid wheat;
    border-right: 2px solid wheat;
}

.three{
    border-bottom: 2px solid wheat;;
}

.four{
    border-right: 2px solid wheat;
    border-bottom:2px solid wheat;
}

.five{
    border-bottom: 2px solid wheat;
    border-right:2px solid wheat;
}

.six{
    border-bottom: 2px solid wheat;;
}


.seven{
    border-right: 2px solid wheat;
}

.eight{
    border-right: 2px solid wheat;
}



h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rr{
    font-size: 3vh;
}

h1.ss{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 3vw;
    position: absolute;
    left: 53%;
    display: none;
    top: 60%;
    
}

h1.ssm{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 3vw;
    position: absolute;
    display: inline;
    left: 53%;
    display:none;
    top: 60%;
    text-align:center;
}

span{
    position: relative;
    left: 20%;
}
 button{
    position: absolute;
    left: 50%;
    top: 90%;
    height: 3vw;
    transform: translate(-50%);
    background-color: yellow;
    border-radius: 4px;
    border:2px solid saddlebrown;
    font-family: inherit;
    font-size: 2vw;
    
    cursor: pointer;
 }


 .rr{
     text-align: center;
     font-size: 3vw;
     color: red
 }
  @media screen and (max-width:500px){
      .rr{
          color:black;
      }

       button{
          background-color: gray;
      }
      
  }
